<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core">

    <link rel="stylesheet" href="../resources/css/common.css"/>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap-responsive.css"/>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css"/>

	<h:panelGroup layout="block" styleClass="well" style="text-align: center;">

        <h:outputText value="Footer of the pages." />
		<h:link value="Test page." outcome="/test.jsf" styleClass="label" style="margin-left: 25%; margin-right: 25%"/>
        <h:outputText value="Gorovoy Alexey, 10-IT-2." />

	</h:panelGroup>
	
</ui:composition>