<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core">

    <h:panelGroup styleClass="leftBar">
        <h:outputText value="Left Bar!" />
    </h:panelGroup>

</ui:composition>