<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core">



	<div class="navbar navbar-static-top topMenu">
		<div class="navbar-inner">
			<a class="brand" href="/index.jsf">minijira</a>
			<ul class="nav">
			<li class="active"><a href="/index.jsf">Main</a></li>
				<li><a href="/projects.jsf">Projects</a></li>
				<li><a href="/skills.jsf">Skills</a></li>
				<li><a href="/customers.jsf">Customers</a></li>
				<li><a href="/people.jsf">People</a></li>
			</ul>
		</div>
	</div>
	
	
</ui:composition>