<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
        >
<h:body>

    <ui:composition template="/blocks/dafaultPage.xhtml">

        <ui:define name="content">
            <h2>Start page</h2>

            <p>Hi there!</p>
            <p>This is start page of minijira project tracking system!</p>

        </ui:define>

    </ui:composition>

</h:body>

</html>