.footer {
    position: relative;

    text-align: center;

    bottom: 0;

    margin-left: 15%;
    width: 70%;
    height: 10%;
}

.rightBar {
    float: right;
    height: 100%;
    width:  15%;
    margin-top: 100px;
}

.leftBar {
    float: left;
    height: 100%;
    width:  15%;
    margin-top: 100px;
}

.centerBox {
    /*margin-right: 225px; */
    position: relative;
    margin-top: 2%;
    margin-left: 15%;
    width: 70%;
    min-height: 100%;
}

.topMenu {
    height: 10%;
}

.mainDiv {

    height: 100%;
}