<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jstl/core" xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title>Test database</title>
</h:head>
<h:body>

    <ui:composition template="/blocks/dafaultPage.xhtml">

        <ui:define name="content">

            <h2>Employees</h2>
            <h:dataTable value="#{databaseBean.employees}" var="o" styleClass="table table-bordered">
                <h:column>
                    <f:facet name="header">Name</f:facet>
                    #{o.name}
                </h:column>
                <h:column>
                    <f:facet name="header">Surname</f:facet>
                    #{o.surname}
                </h:column>
                <h:column>
                    <f:facet name="header">Mail</f:facet>
                    #{o.email}
                </h:column>
                <h:column>
                    <f:facet name="header">Skype</f:facet>
                    #{o.skype}
                </h:column>
                <h:column>
                    <f:facet name="header">Phone</f:facet>
                    #{o.phonenumber}
                </h:column>
            </h:dataTable>

        </ui:define>

    </ui:composition>

</h:body>
</html>
