<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jstl/core" xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title>Test database</title>
</h:head>
<h:body>

    <ui:composition template="/blocks/dafaultPage.xhtml">

        <ui:define name="content">

            <h2>Projects</h2>
            <h:dataTable value="#{databaseBean.projects}" var="o" styleClass="table table-bordered">
                <h:column>
                    <f:facet name="header">Title</f:facet>
                    #{o.title}
                </h:column>
                <h:column>
                    <f:facet name="header">Description</f:facet>
                    #{o.description}
                </h:column>
                <h:column>
                    <f:facet name="header">Type</f:facet>
                    #{o.type.title}
                </h:column>
                <h:column>
                    <f:facet name="header">Customer</f:facet>
                    #{o.customer.title}
                </h:column>
                <h:column>
                    <f:facet name="header">Started</f:facet>
                    #{o.date_start}
                </h:column>
                <h:column>
                    <f:facet name="header">Will end</f:facet>
                    #{o.date_end}
                </h:column>
                <h:column>
                    <f:facet name="header">PM</f:facet>
                    #{o.pm.employee.name} #{o.pm.employee.surname}
                </h:column>
                <h:column>
                    <f:facet name="header">Dev lead</f:facet>
                    #{o.dev_leader.employee.name} #{o.dev_leader.employee.surname}
                </h:column>
                <h:column>
                    <f:facet name="header">TS lead</f:facet>
                    #{o.test_leader.employee.name} #{o.test_leader.employee.surname}
                </h:column>
                <h:column>
                    <f:facet name="header">Customer Agent</f:facet>
                    #{o.customer_agent.employee.name} #{o.customer_agent.employee.surname}
                </h:column>
            </h:dataTable>

        </ui:define>

    </ui:composition>

</h:body>
</html>