<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jstl/core" xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title>Test database</title>
</h:head>
<h:body>

    <ui:composition template="/blocks/dafaultPage.xhtml">

        <ui:define name="content">

            <h2>Projects by employee</h2>

            <h:form>
                <h:outputLabel value="Enter employee id: ">
                    <h:inputText value="#{projectsBean.employee_id}" />
                </h:outputLabel>
                <h:commandButton value="Find!" action="#{projectsBean.findProjectsByEmployee}" styleClass="btn btn-danger"/>
            </h:form>

            <h:dataTable value="#{projectsBean.projects}" var="o" styleClass="table table-bordered">
                <h:column>
                    <f:facet name="header">Title</f:facet>
                    #{o.title}
                </h:column>
                <h:column>
                    <f:facet name="header">Type</f:facet>
                    #{o.type.title}
                </h:column>
            </h:dataTable>

        </ui:define>

    </ui:composition>

</h:body>
</html>