<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jstl/core" xmlns:f="http://java.sun.com/jsf/core">

<h:head>
</h:head>
<h:body>

    <ui:composition template="/blocks/dafaultPage.xhtml">

        <ui:define name="content">

            <h2>Ranks</h2>
            <h:dataTable value="#{databaseBean.tasks}" var="o" styleClass="table table-bordered">
                <h:column>
                    <f:facet name="header">Project</f:facet>
                    #{o.project.title}
                </h:column>
                <h:column>
                    <f:facet name="header">Title</f:facet>
                    #{o.title}
                </h:column>
                <h:column>
                    <f:facet name="header">Description</f:facet>
                    #{o.description}
                </h:column>
                <h:column>
                    <f:facet name="header">Due to</f:facet>
                    #{o.dueto}
                </h:column>
                <h:column>
                    <f:facet name="header">Is closed?</f:facet>
                    #{o.closed}
                </h:column>
                <h:column>
                    <f:facet name="header">Assignee</f:facet>
                    #{o.assignee.name} #{o.assignee.surname}
                </h:column>
                <h:column>
                    <f:facet name="header">Reporter</f:facet>
                    #{o.reporter.name} #{o.reporter.surname}
                </h:column>
                <h:column>
                    <f:facet name="header">Priority</f:facet>
                    #{o.priority.title}
                </h:column>
                <h:column>
                    <f:facet name="header">Stage</f:facet>
                    #{o.workflow.title}
                </h:column>
            </h:dataTable>

        </ui:define>

    </ui:composition>

</h:body>
</html>