<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jstl/core" xmlns:f="http://java.sun.com/jsf/core">

<h:head>
</h:head>
<h:body>

    <ui:composition template="/blocks/dafaultPage.xhtml">

        <ui:define name="content">

            <h2>Technologies</h2>
            <h:dataTable value="#{databaseBean.techs}" var="o" styleClass="table table-bordered">
                <h:column>
                    <f:facet name="header">Title</f:facet>
                    #{o.title}
                </h:column>
                <h:column>
                    <f:facet name="header">Description</f:facet>
                    #{o.description}
                </h:column>
            </h:dataTable>

        </ui:define>

    </ui:composition>

</h:body>
</html>